* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #1c1926;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar-inverse {
    background-color: #111;
    /*border-color: #080808;*/
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-top: 15px;
}

    .navbar-inverse li .glyphicon {
        color: #6b31ff;
        transition: 0.6s;
        margin-right: 5px
    }

    .navbar-inverse li:hover .glyphicon {
        transform: rotate(360deg);
    }

.btn.btn-primary.btn-lg {
    background-color: #6b31ff;
    border: 0px solid #fff;
    transition: 0.6s;
}

    .btn.btn-primary.btn-lg:hover {
        box-shadow: 0 0 4px #fff
    }


.card {
    width: 20%;
    border-radius: 4px;
}

.card-img {
    overflow: hidden;
    border-radius: 4px;
}

.card .card-img-top {
    width: 100%;
    border-radius: 4px;
    transition: 1s;
}

.card-title {
    font-size: 2.4rem;
}

.card .card-img-top:hover {
    transform: scale(1.1);
}

.btn-add {
    background-color: #6b31ff;
    width: 100%;
    border: 0px solid #fff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    transition: .3s
}

    .btn-add:hover {
        background-color: #FF6E4A;
    }

.content-card {
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .card {
        width: 50%
    }
}



/*************CARRITO********************************/
h2.cart-title {
    margin-top: 80px;
}

.cart-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.cart-item img {
    width: 100px;
}

.cart-item p {
    font-weight: bold;
}

.total h5, .total p {
    display: inline-block;
}

.total p {
    float: right;
    font-weight: bold;
}

.total h5 {
    margin-right: 20px;
    margin-top: 0;
}

.btn-success {
    width: 100%
}

.resumen {
    /* width: 30%;*/
    display: inline-block;
    background-color: #6b31ff;
    border-radius: 0 4px 4px 0;
    width: 25%;
    padding: 0 40px 0 40px;
}

.content-items {
    display: inline-block;
    /*width: 69%;*/
    /*border-right: 2px solid #606060*/
    background-color: #111;
    padding: 20px;
    border-radius: 4px;
    width: 100%
}

.content-cart {
    /*background-color:#111;
    padding:20px;*/
    background-color: #111;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.glyphicon-remove {
    border-radius: 100%;
    padding: 6px;
    border: 2px solid darkred;
    transition: .3s
}

    .glyphicon-remove:hover {
        background-color: darkred;
        cursor: pointer;
    }

.btn-añadir {
    background-color: #6b31ff;
    padding: 2px;
}

.badge {
    position: absolute;
    left: 12px;
    top: -5px;
    background-color: rgb(70 196 17);
    transition: .6s
}

li:hover .badge {
    transform: rotate(360deg);
}


.btn-success {
    background-color: rgb(70 196 17);
}

.lbl-success {
    color: rgb(70 196 17)
}


a{
    text-decoration:none;
    color:#fff;
    width:100%;
    display:block;
    text-align:center;
}
a:hover {
    text-decoration: none;
    color: #fff
}