* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
nav {
    /* background-color: #6b31ff*/
    background-color: #fff
}

body {
    background-color: #f8f9fa;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.banner{
    object-fit:cover;
    display:block;
    width:100%;
}

#titulo {
    color: #000;
}

.navbar-inverse {
    background-color: #111;
    /*border-color: #080808;*/
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-top: 15px;
    color: #fff;
}

    .navbar-inverse li .glyphicon {
        color: #6b31ff;
        transition: 0.6s;
        margin-right: 5px

    }

    .navbar-inverse li:hover .glyphicon {
        transform: rotate(360deg);
    }

.btn.btn-primary.btn-lg {
    background-color:#FF6E4A;
    border: 0px solid #fff;
    transition: 0.6s;
}

    .btn.btn-primary.btn-lg:hover {
        box-shadow: 0 0 4px #fff
    }


h1{
    color:#fff;
    font-weight:bold;
    font-size:4rem;
}

.container-general {
    margin-top:2rem;
    display: flex;
}
.container-filters {
    /*background-color: #6b31ff;*/
    padding:3rem;
    text-align:start;
    overflow:hidden;
    width:20%;
}
.content-card {
    width: 70%;
}
.card {
    width: 23%;
    border-radius: 4px;
}
.card-title {
    font-size: 1.1rem;
}
.card-img {
    overflow: hidden;
    border-radius: 4px;
}

.card .card-img-top {
    width: 100%;
    border-radius: 4px;
    transition: 1s;
}
.cart-item-title {
    font-size: 1.2rem;
    text-align:start;
}


.card .card-img-top:hover {
    transform: scale(1.1);
}

.btn-add {
    border: 0.15rem solid #6b31ff;
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    transition: .3s;
    color: #6b31ff;
}

    .btn-add:hover {
        /*background-color: #FF6E4A;*/
        background-color: #6b31ff;
        color:white;

    }

.content-card {
    display: flex;
    gap: 15px 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: start;
}



@media screen and (max-width: 768px) {
    .card {
        width: 50%
    }
}



/*************CARRITO********************************/
.cart-title, .cart-subtitle {
    margin-left: 3rem;
    font-weight: 400;
}
.cart-title {
    margin-top: 80px;
}

/*Articles*/
.content-cart {
    margin-right: 3rem;
    margin-left: 3rem;
    display:flex;
}
.content-items {
    background-color: #fff;
    width:50%;
}
.content-cart .cart-item {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 3rem;
    position: relative;
}
    .content-cart .cart-item img {
        width: 10%;
        height: 6rem;
        object-fit: contain
    }
.content-cart .cart-item .cart-item-title {
    width: 54%;
}
.content-cart .cart-item .cart-item-price {
    text-align: left;
    width: 30%;
}
.icon-delete{
    display:flex;
    justify-content:flex-end;
    width:5%;
}
.img-delete {
    border-radius: 100%;
    padding: 2px;
    border: 0px solid darkred;
    background-color: indianred;
    color: #fff;
}

    .img-delete:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: #fff;
    }

.total h5, .total p {
    display: inline-block;
}

.total p {
    float: right;
    font-weight: bold;
}

.total h5 {
    margin-right: 20px;
    margin-top: 0;
}

.btn-success {
    width: 100%
}

.content-items {
    display: inline-block;
    /*width: 69%;*/
    /*border-right: 2px solid #606060*/
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 100%
}

.content-cart {
    /*background-color:#111;
    padding:20px;*/
/*    background-color: #111;*/
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.btn-añadir {
    background-color: #6b31ff;
    padding: 2px;
}

.badge {
    position: absolute;
    left: 12px;
    top: -5px;
    background-color: rgb(70 196 17);
    transition: .6s
}

li:hover .badge {
    transform: rotate(360deg);
}


.btn-success {
    /*background-color: rgb(70 196 17);*/
    background-color: #6b31ff;
    margin-top: 1rem;
    text-transform:uppercase;
}

.lbl-success {
    color: rgb(70 196 17);
}


a{
    text-decoration:none;
    color: #000;
    width:100%;
    display:block;
    text-align:center;
}
a:hover {
    text-decoration: none;   
}


.container-filtro {
    background-color: #6b31ff;
    padding: 0px;
    display: flex;
    align-items: center;
}

.minicart {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255, 255);
    border: 2px solid #6b31ff;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 20;
}

.badge {
    background-color: #6b31ff;
}
.badge-counter {
    color: #fff;
    font-size: 25px;
}

#filtro-a {
    text-align: start;
    font-size: 20px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    color: #000;
}
    #filtro-a:hover {
        font-weight:bold
    }


footer{
    text-align:center;
    background-color:#fff;
    padding:1.5rem
}
footer p{
    margin:0;
}


.resume-container {
    background-color: rgb(233, 233, 233);
    width: 50% ;
    border-radius: 0 4px 4px 0;
    padding: 10px 40px 20px 40px;
}

.resume-container .resume-title,
.resume-container .resume-total-title,
.resume-container .resume-total-price {
    color: #000;
}
.resume-container .resume-title{
    margin-bottom:5rem;
}
    .resume-container .resume-total-price {
        font-weight: bold;
        font-size: 1.4rem;
        
    }

